export RAILS_MASTER_KEY=123456789
export DATABASE_HOST=localhost
export DATABASE_SCHEMA=rth_blog_development
export DATABASE_USER=shibafi
export DATABASE_PASSWORD=123456
export GMAIL_USERNAME=''
export GMAIL_PASSWORD=''

