body {
  background: #ccc repeat;
  background-image: url(asset_path("photography"));
}

.toast-message{
  font-size: 0.9rem !important;
}

.dropzone{
  border: 2px #D4D4D4 dashed !important;
}

.fit-image img{
  width: 350px;
  height: 235px;
  object-fit: cover;
  object-position: center;
}